:root {
  --basic-color: #a0c1b8;
  --background-color: #351f39;
  --light-color: #719fb0;
  --softdark-color: #726a95;
  --shadow-element: 4px 4px 10px 4px rgba(128, 128, 128, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "DotGothic16", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #808080, #eccccc);
}

.box-clock {
  width: 310px;
  min-height: 200px;
  background: var(--background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--shadow-element);
}
.digital-clock {
  width: 120%;
  padding: 10px 5px;
  margin-top: 20px;
  background-color: var(--basic-color);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow-element);
}

.digital-clock p,
span {
  width: 100%;
  color: white;
  font-size: 30px;
  letter-spacing: 4px;
}

.box-bottons {
  width: 90%;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-bottons button {
  width: 30%;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--softdark-color);
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

.box-bottons button:hover {
  background-color: var(--light-color);
  outline: none;
}
